<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrap-right">
      <h1>save the orangutan</h1>
      <h3>stop deforestation</h3>
    </div>
    <div class="wrap-left">
      <h1>Login</h1>
      <% if(messages.error) { %> <%= messages.error %> <% } %>

      <form action="/login" method="POST">
        <div class="login-div">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required />
        </div>
        <div class="login-div">
          <label for="password">Password</label>
          <input type="text" id="password" name="password" required />
        </div>
        <div class="button-wrap">
          <button type="submit">Login</button>
          <a href="/register">Register</a>
        </div>
      </form>
    </div>
  </body>
</html>
