body {
  margin: 0px;
}

.wrap-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0px;
  background-color: white;
  border-radius: 12%;
  width: 100%;
  height: 60%;
  color: #4b4848;
}
.wrap-left h1 {
  font-size: 35px;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
}
.wrap-left form {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}
.wrap-left form .register-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
}
.wrap-left form .register-div label {
  font-family: "Staatliches", cursive;
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.wrap-left form .register-div input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border-bottom: 3px solid green;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  width: 100%;
  height: 50px;
}
.wrap-left form .button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-left form .login-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 60px;
}
.wrap-left form .login-div label {
  font-family: "Staatliches", cursive;
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.wrap-left form .login-div input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border-bottom: 3px solid green;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  width: 100%;
  height: 50px;
}
.wrap-left form button {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  background-color: #043a14;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 40%;
}
.wrap-left form button:hover {
  background-color: #ef4123;
}
.wrap-left a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
}
.wrap-left a:visited {
  text-decoration: none;
  color: black;
}

.wrap-right {
  background-image: linear-gradient(to bottom, rgba(32, 32, 1, 0), rgba(0, 0, 0, 0.678)), url(../img/orangutan-main.jpg);
  background-position: bottom;
  background-size: cover;
  background-color: #47641a;
  height: 50%;
  width: 100%;
}
.wrap-right h1 {
  color: #ef4123;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-family: "Staatliches", cursive;
  font-size: 60px;
  letter-spacing: 2px;
  padding: 30px 30px 0 30px;
  margin: 0;
}
.wrap-right h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  padding: 0 30px 30px 30px;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1e2217;
}
header h1 {
  font-family: "Staatliches", cursive;
  color: white;
  text-align: center;
}
header button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #ef4123;
  border: 2px solid #ef4123;
  color: white;
  padding: 10px;
}
header button:hover {
  background-color: white;
  color: #ef4123;
}

main {
  background-color: #ef4123;
}
main .image-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .image-wrap .orphan-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 350px;
  margin: 25px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.219), rgba(20, 7, 17, 0.73)), url(//savetheorangutan.org/wp-content/uploads/sites/2/2018/06/cinta-tunge.jpg);
  background-size: cover;
}
main .image-wrap .populations-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 350px;
  margin: 25px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.247), rgba(20, 7, 17, 0.73)), url(//savetheorangutan.org/wp-content/uploads/sites/2/2019/02/Sif-Sifa.jpg);
  background-size: cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #181818;
  font-size: 16px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  .wrap-left form .button-wrap {
    display: flex;
    flex-direction: column;
  }
  .wrap-left form .button-wrap button {
    margin: 15px 40px;
  }

  .wrap-left form .login-div {
    margin-bottom: 40px;
  }

  .wrap-left form .login-div input {
    height: 35px;
  }

  .wrap-left form .register-div input {
    height: 35px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrap {
    display: flex;
    flex-direction: row-reverse;
  }

  .wrap-left {
    justify-content: center;
    position: static;
    width: 50%;
    height: 100vh;
  }

  .wrap-right {
    width: 50%;
    height: 100vh;
  }
  .wrap-right h1 {
    font-size: 80px;
  }

  header {
    font-size: 30px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrap-left {
    justify-content: center;
    position: static;
    width: 40%;
    height: 100vh;
  }

  .wrap-right {
    width: 60%;
    height: 100vh;
  }

  .wrap-left form .button-wrap button {
    margin: 20px 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
